body{
    font-family: "Work Sans", sans-serif;
}
img{
    max-width: 100%;
}
/**Header CSS**/
header{
    background-color: #FFF4E7;
}
.navbar-brand a{
    font-size: 45px;
}
.navbar-brand h4{
    font-weight: 600;
    color: hsl(0, 0%, 7%);
    position: relative;
    top: 3px;
}
header ul li{
    padding-right: 20px;
}
header ul li a{
    font-size: 18px;
    font-weight: 500;
    color: #424242;
}
.hero-text h4{
    font-size: 64px;
}
.hero-text p{
    color: #727272;
}
.hero-text a{
    padding: 12px 15px;
    color: #fff;
    background-color: #FF900E;
    font-weight: 500;
    font-size: 18px;
    border-radius: 8px;
}
/**Features CSS**/
.features-section{
    margin-top: 60px;
    margin-left: 240px; 
    margin-right: 230px;
}
.feature-right img{
   margin-top: 90px;
}
/**Fact CSS**/
.fact-section span{
   font-size: 25px;
   font-weight: 600;
}
/**Num CSS**/
.num-section{
    margin-left: 120px;
    margin-right: 100px;
}
.div-border{
    border: 1px solid #FF900E;
}
.first-div{
    width: 240px;
    height: 200px;
    padding: 30px 0;
}
.div-border{
    border: 1px solid #FF900E;
}
.num-div{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 50px;
}
.num-div p{
    font-size: 21px;
    font-weight: 600;
    color: #727272;
}
.second-div{
    padding-top: 30px;
}
.num-div h5{
    font-size: 40px;
    font-weight: 600;
    color: #424242;
    padding-top: 10px;
}
.third-div{
    padding-top: 30px;
}
.fourth-div{
    padding-top: 30px;
}
/**Sponsor CSS**/
.sponsor-text h3{
   font-size: 40px;
   color: #000;
   font-weight: 600;
}
.sponsors{
    margin-top: 60px ;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 40px;
}
/**Footer CSS**/
footer{
    background-color: #FFF4E7;
    padding: 12px 0;
}
footer p{
    font-size: 18px;
    position:relative;
    top: 10px;
}